#experience {
  .container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }

  .experience-timeline {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -2px;
      width: 4px;
      height: 100%;
      background-color: #333;
    }

    .experience-item {
      position: relative;
      width: 50%;
      margin-bottom: 100px;
      text-align: left;
      padding-left: 60px;

      &:nth-child(odd) {
        float: left;
      }

      &:nth-child(even) {
        float: right;
      }

      .experience-year {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      .experience-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .experience-description {
        font-size: 16px;
        color: gray;
        margin-bottom: 20px;
      }
    }
  }
}
