footer{
    i{
        color: lightsteelblue;
    }
    a{
        color: lightsteelblue !important ;
    }
    p{
        color: lightsteelblue;
    }
    h6{
        color: lightsteelblue;
    }
    span{
        color: lightsteelblue;
    }
}