.aboute {
  &-container {
    // background-image: url("../../assets/images/photo_2023-02-12_00-06-46.jpg");
    // height: 90vh;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 16px;
      &__col__1 {
        padding: 20px;
        color: lightsteelblue;
        font-family: 'Great Vibes', cursive;
        font-style: 36px;
        .hello {
          color: lightsteelblue;
          font-family: 'Great Vibes', cursive;
          font-style: 36px;
          font-size: 36px;
          font-weight: bold;
          line-height: 42px;
        }
        .name {
          font-size: 36px;
          font-weight: bold;
          line-height: 42px;
        }
        .skills {
          font-size: 18px;
          line-height: 24px;
        }
        .hobbiy {
          font-size: 18px;
          line-height: 24px;
        }
        .links {
          font-size: 18px;
          line-height: 24px;
        }
      }
      &__col__2 {
        padding: 20px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .aboute {
    &-container {
      &__row {
        grid-template-columns: 1fr;
      }
    }
  }
}
