.aboute {
  &-container {
    // background-image: url("../../assets/images/photo_2023-02-12_00-06-46.jpg");
    // height: 90vh;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__col__1 {
        padding: 20px;
        color: lightsteelblue;
        font-family: 'Great Vibes', cursive;
        font-style: 36px;
        height: 100%;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;

        .hello {
          color: lightsteelblue;
          font-family: 'Great Vibes', cursive;
          font-style: 36px;
          font-size: 36px;
          font-weight: bold;
          line-height: 42px;
        }
        .name {
          font-size: 36px;
          font-weight: bold;
          line-height: 42px;
        }
        .skills {
          font-size: 18px;
          line-height: 24px;
        }
        .hobbiy {
          font-size: 18px;
          line-height: 24px;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-wrap: wrap;
        }
        .links {
          font-size: 18px;
          line-height: 24px;
        }
      }
      &__col__2 {
        padding: 20px;
        max-width: 500px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        .img-wrapper {
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            // display: inline;
            // box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
            // border-radius: 10px;
            // transition: transform 0.2s ease-in-out;
            // opacity: 0.5;
          }
        }
        .swiper-button-prev {
          color: lightsteelblue !important;
        }
        .swiper-button-next {
          color: lightsteelblue !important;
        }
        .swiper-pagination-bullet-active {
          background: lightsteelblue !important;
        }
      }
    }
  }
}
.skills {
  h2 {
    color: lightsteelblue;
    font-size: 39px;
    margin: 16px 0;
    text-align: center;
    position: relative;
    &::after {
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background: lightsteelblue;
      content: '';
      top: 110%;
      left: 50%;
      margin: auto;
      transform: translate(-50%, -50%);
    }
  }
  p{
        padding: 20px;
    color: lightsteelblue;
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-style: 36px;
  }
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: lightsteelblue;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

@media only screen and (max-width: 1200px) {
  .aboute {
    &-container {
      &__row {
        flex-wrap: wrap;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .aboute {
    &-container {
      &__row {
        grid-template-columns: 1fr;
      }
    }
  }
}
