.addElement {
  padding: 2px 8px;
  background: #ececec;
  transition-delay: 0.1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .laptop_icons {
    display: flex;
    width: 50px;
    justify-content: space-between;
    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    .red {
      background: red;
    }
    .brown {
      background: brown;
    }
    .green {
      background: green;
    }
  }
  .iconToWebsite {
    a {
      i {
        border: 1px solid #dcdcdc;
        text-decoration: none;
        color: #2a2a2a;
        font-size: 80%;
        border-radius: 3px;
        padding: 2px 5px;
        display: inline-block;
        height: 24px;
        line-height: 18px;
        background: #fff;
        transform: translateY(1px) translateX(3px);
        display: flex;
        align-content: center;
        align-items: center;
      }
    }
  }
}

.bwsHeader {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(245 225 162 / var(--tw-bg-opacity));
  border-radius: 4px 4px 0 0;
  transition: 0.1s ease;
}
