.skills-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.card {
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 400px;
   border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 36px;
    letter-spacing: 3px;
  }

  .card-text {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    color: #888;
  }
}
}