.detail {
  &__content__wrap {
    display: flex;
    justify-content: space-between;
    color: white;
    .col-1__content {
      width: 66%;

      &__header {
        position: static;
        top: 0;
      }
      &__body {
        height: 600px;
        overflow-y: scroll;
        position: relative;
        box-shadow: inset 0 0 10px #eeeeee2d;
        &__iframe{
          width: 100%;
          height: 100%;
        }
      }
      &__media {
        margin: 0px 0px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          background: transparent;
          width: 60px;
          height: 45px;
          margin: 0 3px;
          border: 1px solid lightsteelblue;
          i {
            font-size: 18px;
            color: lightsteelblue;
          }
        }
      }
    }
    .col-2__content {
      width: 33%;
    }
  }
}
@media only screen and (max-width: 1279px) {
  .detail {
    &__content__wrap {
      flex-direction: column;
      .col-1__content {
        background: gray;
        width: 100%;
      }
      .col-2__content {
        width: 100%;
        background: gainsboro;
      }
    }
  }
}
// @media only screen and (max-width: 1024px) {
//   .detail {
//     &__content__wrap {
//       display: flex;
//       justify-content: space-between;
//       color: white;
//       .col-1__content {
//         background: gray;
//         width: 60%;
//         height: 70vh;
//       }
//       .col-2__content {
//         width: 40%;
//         background: gainsboro;
//       }
//     }
//   }
// }
@media only screen and (max-width: 786px) {
}
@media only screen and (max-width: 576px) {
}
