.row__twoo {
  display: flex !important;
  justify-content: start !important;
}
.card {
  max-width: 350px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px;
  background: #2a353f;
  // transform: translate(1s);
  img {
    transition: all 0.5s ease;
    width: 100%;
    height: auto;
    display: block;
    &:hover{
      transform: scale(1.1,1.1);
    }
  }
  .card-info {
    background: #212431;
    color: lightsteelblue;
    padding: 16px;
    .card-title {
      display: flex;
      justify-content: space-between;
      font-size: 18px Oxygen, sans-serif;
      .stars {
        i {
          cursor: pointer;
        }
      }
      .title {
        font-size: 14px Oxygen, sans-serif;
      }
    }

    .card-description {
      font-size: 14px Oxygen, sans-serif;
    }
    .card-viewer {
      padding-top: 16px;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .row__twoo {
    .col-lg-3 {
      max-width: 350px;
      width: 100%;
      margin: 0px auto;
    }
  }
}
